
[Desktop Entry]
Encoding=UTF-8
Name=Link to slide-01.jpg
Type=Link
URL=http://twitter.github.com/bootstrap/assets/img/examples/slide-01.jpg
Icon=image-jpeg
Name[en_US]=slide-01.jpg
